* {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 17% 30% 30% 23%;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas: "nav header   header   header"
                         "nav projects projects announcements"
                         "nav projects projects trending";
    height: 100vh;
    width: 100vw;
    max-width: 2560px;
    margin: auto;
    background-image: linear-gradient(to right,rgb(52, 97, 194),rgb(218, 231, 238));
}

/* -----Side-nav----- */

nav {
    grid-area: nav;
    background-color: rgb(52, 97, 194);
    padding: 1.5rem;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
    padding-left: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

a:hover {
    text-decoration-color: rgb(223, 223, 223);
  }

li {
    display: flex; 
    list-style: none;
    padding: 1rem;
    align-items: center;
    overflow: hidden;
    
}

ul {
    margin: 0;
    padding: 0;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: left;
    padding: 1rem;
    align-items: center;
    color: white;
    padding-bottom: 3rem;
}

.config {
    position: absolute;
    bottom: 3%;
}

/* -----Header-----*/

header {
    grid-area: header;
    display: grid;
    grid-template-rows: 35% 65%;
    box-shadow: 0px 0px 10px gray;
    background-color: rgb(243, 243, 243);
    z-index: 1;
    padding: 1rem;
    align-content: space-between;
}

input {
    border-radius: 1.5rem;
    border: 0;
    padding: .7rem 1rem;
    background-color: rgb(223, 223, 223);
    outline: none;
}

.search {
    display: grid;
    grid-template-columns: 30px auto 30px 40px 150px;
    align-items: center;
    gap: 1rem 2rem;
}

.user {
    display: grid;
    grid-template-columns: 70px auto auto;
    padding: 0rem 1rem;
    gap: 2rem;
    align-items: center;
    text-overflow: ellipsis;
}

.user button {
    background-color: rgb(52, 97, 194);
    color: white;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 1.6rem;
    transition: 0.2s ease-out;
}

.user button:hover {
    transform: translateY(-5px);
    background: -webkit-linear-gradient(rgb(108, 218, 87), rgb(27, 112, 168));
    transition: 0.2s ease-in-out;
}

.user button:active {
    transform: translateY(0px);
    background: -webkit-linear-gradient(rgb(108, 218, 87), rgb(27, 112, 168));
    transition: 0.2s ease-in-out;
}

.btns {
    display: flex;
    justify-content:right;
    gap: 2rem;
}



/* -----Your Projects---- */

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 7% 1fr 1fr 1fr;
    background-color: rgb(218, 231, 238);
    gap: 1.5rem;
    padding: 1.5rem;
}

.projects h1 {
    grid-column:1/-1;
    align-self: center;
}

.project {
    border: 0px solid;
    background-color: rgb(243, 243, 243);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgb(190, 188, 188);
    border-left: .7rem solid orange;
    position: relative;
    text-overflow: ellipsis;
    transition: 0.5s;
}

.project:hover {
    transform: translateY(-10px);
}

.project p {
    padding: 1rem;
    padding-left: 0;

}

.project-btns {
    display: grid;
    grid-template-columns: 25px 25px 25px;
    gap: 1rem;
    position: absolute;
    bottom: 5%;
    right: 10%;
}

button {
    background-color: transparent;
    border: 0;
}

button:active {
    opacity: 50%;
}

.icon {
    height: 25px;
    justify-self: right;
}

/* -----Announcements & Trending-----*/

.announcements {
    grid-area: announcements;
    background-color: rgb(218, 231, 238);
    padding: 1rem;
    padding-right: 2rem;
    
}

.announcements h1, .trending h1 {
    padding: 1.5rem 0rem;
}

.news, .users {
    background-color: rgb(243, 243, 243);
    box-shadow: 5px 5px 10px rgb(190, 188, 188);
    padding: 1rem;
    border-radius: 1rem;
    display: block;
}

.news p, .users p {
    padding: 1rem;
    border-top: 1px solid rgba(128, 128, 128, 0.486);
}

.news p:first-child, 
.users p:first-child {
    border: 0;
}

.trending {
    grid-area: trending;
    background-color: rgb(218, 231, 238);
    padding: 1rem;
    padding-right: 2rem;
}



